@media (max-width: 450px) {
  #search-navbar-desktop {
    width: 160px !important;
    min-width: 100px;
  }
  #pokedex-button img {
    height: 2rem !important;
  }
  #pokedex-button span {
    font-size: 1.1rem !important;
  }
}
@media (max-width: 320px) {
  #search-navbar-desktop {
    width: 100px !important;
  }
}
